{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_accredible/mapping_line

    Template purpose and description.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
        index: 1,
        field: 'moodle_course',
        accredibleattribute: 'acc_course'
    }
}}

<div class="d-flex flex-row justify-content-between mb-2" id="mapping_line_{{index}}">
    <div class="d-flex flex-column col-md-5">
        <label for="id_field[{{index}}]">Moodle Field</label>
        <input class="form-control" type="text" name="field[{{index}}]" id="id_field[{{index}}]" value="{{field}}">
    </div>
    <div class="d-flex flex-column col-md-6">
        <label for="id_accredibleattribute[{{index}}]">Accredible Attribute</label>
        <input class="form-control" type="text" name="accredibleattribute[{{index}}]" id="id_accredibleattribute[{{index}}]" value="{{accredibleattribute}}">
    </div>
    <div class="d-flex flex-column justify-content-end col-md-1">
        <button id="id_remove_line_{{index}}" type="button" data-id="{{index}}" class="remove-line btn btn-small">
            <i class="icon fa fa-trash text-danger fa-fw"></i>
        </button>
    </div>
</div>
